<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Playground</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id='app'>
    <div class="container p-3">
      <h1 v-cloak>{{name}}</h1>

      <form v-show="!submitted" class="mt-5">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" v-model:value="email" class="form-control form-control-lg">
        </div>
        <button type="submit" @click="process" class="btn btn-primary">Submit</button>
      </form>

      <h2 v-show="submitted" v-cloak class="mt-5">Thanks for signing up!</h2>

      <div class="card mt-5" v-cloak>
        <img :src="photo.imgSrc" class="card-img-top" :alt="photo.imgTitle">
        <div class="card-body">
          <h5 class="card-title">{{photo.imgTitle}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <h2 class="mt-5" v-cloak v-if="album.length">
        Songs:
        <span class="badge badge-secondary">{{album.length}}</span>
      </h2>
      <ul class="list-group mt-2" v-cloak>
        <li class="list-group-item" v-for="song in album" :key="song.id">
          {{song.title}}
          <button @click="removeSong(song.id)" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        name: 'Hello World!',
        email: 'test@test.com',
        submitted: false,

        photo: {
          imgSrc: '',
          imgTitle: '',
        },
        album: [],
      },
      created() {
        this.fetchPhoto();
        this.fetchList();
      },
      methods: {
        process(e) {
          e.preventDefault();
          console.log('Submit: ', this.email);
          this.submitted = true;
        },
        fetchPhoto() {
          axios.get('https://jsonplaceholder.typicode.com/photos')
            .then((data) => {
              app.photo = {
                imgSrc: data.data[0].url,
                imgTitle: data.data[0].title,
              }
            })
            .catch((err) => console.log(err))
        },
        fetchList() {
          axios.get('https://jsonplaceholder.typicode.com/albums')
            .then((data) => {
              const album = data.data.slice(0, 10);
              app.album = album;
            })
            .catch((err) => console.log(err))
        },
        removeSong(index) {
          this.album = this.album.filter(song => song.id !== index);
        }
      }
    });
  </script>
</body>

</html>