<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Vue.js Essential Training</title>
</head>

<body class="container mt-4">
  <div id="app">

    <nav id="nav-block" class="navbar navbar-light bg-light fixed-top" v-if="countItems(cart)">
      <div class="navbar-text ml-auto">
        <b>Cart: </b>
        <span class="badge badge-pill badge-success">{{ countItems(cart) }}</span>
      </div>
    </nav>

    <section id="max-block" class="form-inline mr-auto mt-5">
      <label for="formMax" class="font-weight-bold mr-2">Max</label>
      <input type="text" id="formMax" class="form-control w-25" v-model="maximum">
    </section>

    <input type="range" class="custom-range" min="0" max="200" v-model="maximum">

    <section id="slug-block">
      <label for="formSlug" class="font-weight-bold mr-2">Slugetize</label>
      <input id="formSlug" type="text" class="form-control" v-model="slugText">
      <p class="font-weight-bold text-danger">{{ slugetize }}</p>
    </section>

    <section id="items-block" class="row d-flex mb-3 align-items-center mt-5" v-for="item in products"
      v-if="isLess(item.price)">
      <div class="col-1 m-auto">
        <button class="btn btn-info" @click="addItem(item)">+</button>
      </div>

      <div class="col-sm-4">
        <img class="img-fluid d-block" :src="item.image" :alt="item.name">
      </div>

      <div class="col">
        <h3 class="text-info">{{ item.name }}</h3>
        <p class="mb-0">{{ item.description }}</p>
        <div class="h5 float-right">{{ item.price }}</div>
      </div>
    </section>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    const data = {
      maximum: 50,
      products: null,
      cart: [],
      slugText: 'test'
    }
    const app = new Vue({
      el: "#app",
      data,
      computed: {
        timeStatic() {
          return this.getTime();
        },
        slugetize() {
          return this.slugText
            .toLowerCase()
            .replace(/[^\w ]+/g, '')
            .replace(/ +/g, '-')
            + ` ${this.timeStatic} / ${this.timeDynamic()}` ;
        }
      },
      mounted() {
        fetch('http://hplussport.com/api/products/order/price')
          .then((res) => res.json())
          .then((data) => this.products = data)
          .catch((err) => console.log(err));
      },
      methods: {
        isLess(price) {
          return price <= this.maximum;
        },
        countItems(arr) {
          return arr.length
        },
        addItem(item) {
          this.cart.push(item)
        },
        getTime() {
          const data = new Date();
          return `${data.getHours()}:${data.getMinutes()}:${data.getSeconds()}`;
        },
        timeDynamic() {
          return this.getTime();
        },
      },
    });
  </script>
</body>

</html>